<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sowp.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOWProgramming"
        tools:targetApi="31">
        <activity
            android:name=".presenters.activities.CoursesProgressActivity"
            android:exported="false" />
        <activity
            android:name=".presenters.activities.ViewAssignmentsActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.ViewQuizzesActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.AssignmentDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.QuizDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.AssignmentHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.QuizHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.SubmitAssignmentActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.ChangeProfilePicture"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.OfflineTopicViewActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.OfflineTopicListActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.OfflineCourseActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.SOWProgramming.NoActionBar" />
        <activity
            android:name=".presenters.activities.TakeQuizActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.TopicList"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.TopicView"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.CourseDescriptionActivity"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.Main"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.SignUp"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.Login"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.Authentication"
            android:exported="false"
            android:theme="@style/Theme.SOWProgramming" />
        <activity
            android:name=".presenters.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="@string/default_web_client_id" />
    </application>

</manifest>