<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NexCode" >
        <activity
            android:name=".topicmanagement.TopicManagementActivity"
            android:exported="false" />
        <activity
            android:name=".assignmentmanagement.EditAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".assignmentmanagement.ViewAssignmentsActivity"
            android:exported="false" />
        <activity
            android:name=".assignmentmanagement.UploadAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".assignmentmanagement.AssignmentManagementActivity"
            android:exported="false" />
        <activity
            android:name=".quizmanagement.EditQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quizmanagement.ViewQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".topicmanagement.ViewTopicsActivity"
            android:exported="false" />
        <activity
            android:name=".usermanagement.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".usermanagement.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".topicmanagement.EditTopicActivity"
            android:exported="false" />
        <activity
            android:name=".topicmanagement.AddTopicActivity"
            android:exported="false" />
        <activity
            android:name=".coursemanagement.EditCourseActivity"
            android:exported="false" />
        <activity
            android:name=".coursemanagement.AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".coursemanagement.ViewCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".coursemanagement.CoursesManagementActivity"
            android:exported="false" />
        <activity
            android:name=".quizmanagement.UploadQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quizmanagement.QuizManagementActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".topicmanagement.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>